<section class="bg-[#1abc9c] h-screen grid justify-items-center content-center text-white">
    <div class="px-28">
        <header class="text-center">
            <h2 class="text-4xl font-bold">ABOUT COMPONENT</h2>
            <div class="flex justify-center items-center my-4">
                <div class="bg-white w-20 h-1 me-2"></div>
                <i class="fa-solid fa-star"></i>
                <div class="bg-white w-20 h-1 ms-2"></div>
            </div>
        </header>
        <div class="grid sm:grid-cols-1 md:grid-cols-2">
            <div class="p-3">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files
                    including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
            <div class="p-3">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files
                    including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
        </div>
    </div>

</section>