<footer class="container">
    <div class="bg-[#2c3e50] text-white px-28 text-center">
        <div class="py-10 grid sm:grid-cols-1 md:grid-cols-3">
            <div class="">
                <h3 class="text-3xl pb-2">LOCATION</h3>
                <p>2215 John Daniel Drive <br> Clark, MO 65243</p>
            </div>
            <div class="">
                <h3 class="text-3xl pb-2">AROUND THE WEB</h3>
                <div>
                    <div class="">
                            <i class="fa-brands fa-facebook p-4 m-2 border-2 border-white rounded-full"></i> 
                            <i class="fa-brands fa-twitter p-4 m-2 border-2 border-white rounded-full"></i>
                            <i class="fa-brands fa-linkedin-in p-4 m-2 border-2 border-white rounded-full"></i>
                            <i class="fa-solid fa-globe border-2 p-4 m-2 border-white rounded-full"></i>
                       
                    </div>
                    
                </div>
            </div>
            <div class="">
                <h3 class="text-3xl pb-2">ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="bg-[#1a252f] text-white p-6 text-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>
