<main>
    <section class="grid justify-items-center content-center bg-[#1abc9c] h-screen text-white font-medium">
        <div class="w-56">
            <img src="assets/img/avataaars.svg" alt="person">
        </div>
        <h2 class="text-4xl font-bold m-4">start Framework</h2>
        <div class="flex justify-center items-center mb-3">
            <div class="bg-white w-20 h-1 me-2"></div>
            <i class="fa-solid fa-star"></i>
            <div class="bg-white w-20 h-1 ms-2"></div>
        </div>
        
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </section>
</main>